angles = 0 9vw 14vw
colors =tomato olivedrab sienna

@keyframes expandY {
  from {transform: scaleY(0)}
  to {transform: scaleY(1)}
}

body
  margin: 0
  overflow-x: hidden

.header
  display: flex
  flex-direction: column
  width: 100vw
  height: 100vh

.logo
  flex-grow: 1
  margin: 0
  position: relative
  svg
    height: 15vh
    max-width: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    path.animpath
      fill:none
      fill-rule:evenodd
      stroke: currentcolor
      stroke-linecap:butt
      stroke-dasharray:none
    &.show
      path.animpath
        stroke-dashoffset: 0 !important
        transition-timing-function: linear
        &#y-anim1
          transition-duration: 1s
        &#y-anim2
          transition-duration: 1s
          transition-delay: .7s
        &#g-anim1
          transition-duration: 1s
          transition-delay: .2s
        &#g-anim2
          transition-duration: 1s
          transition-delay: 1.3s
        &#k-anim1
          transition-duration: 1s
          transition-delay: .4s
        &#k-anim2
          transition-duration: .7s
          transition-delay: 1.1s
        &#k-anim3
          transition-duration: .7s
          transition-delay: 1.7s
        &#n-anim1
          transition-duration: 1s
          transition-delay: .6s
        &#n-anim2
          transition-duration: 1s
          transition-delay: 1.6s

.navi
  width: 100%
  box-sizing: border-box
  background: white
  &--fixed
    position: fixed
    top: 0
    z-index: 1
  &__list
    width: 100%
    display: flex
    margin: 0
    padding: .4em 0
    list-style: none
    justify-content: center
    align-items: center
    box-sizing: border-box
    &__item
      animation: .5s 2.1s expandY both
      padding: .5em 1.5em
      border-right: solid 1px
      &:first-child
        border-left: solid 1px
  &__link
    color: black
    text-decoration: none
    position: relative
    &:before
      display: block
      width: 100%
      height: 2px
      position: absolute
      left: 0
      top: 100%
      transform: scaleX(0)
      content: ""
      background: currentcolor
      border-radius: @height
      transition: .3s
    &:hover:before
      transform: scaleX(1)

.content
  overflow: hidden
  width: 100vw

.section
  color: whitesmoke
  box-sizing: border-box
  position: relative
  transition: 1s cubic-bezier(0.4, 0, 1, 1) transform
  &:before
  &:after
    border-style: solid
    content: ""
    position: absolute
    right: 0
    display: block
  &:before
    top: 0
    transform: translateY(-100%)
  &:after
    bottom: 0
    transform: translateY(100%)
  &__inner
    width: 100%
    max-width: 750px
    margin: auto
    opacity: 0
    transition: 1s 1.2s opacity
    padding: 1em
    box-sizing: border-box
  &__title
    font-weight: normal
    font-size: 2em;
    margin: .5em 0;

for angle, i in angles
  .section:nth-of-type({i + 1})
    margin-top: i is 0 ? 0 : (-1 * angles[i - 1])
    padding-top: 2em
    padding-bottom: i is (length(angles) - 1) ? 2em : "calc(%s + 2em)" % angles[i + 1]
    margin-bottom: angles[i]
    background: colors[i]
    border: solid 1px colors[i]
    &:before
    &:after
      width: 0
      height: 0
      border-width: (angle / 2) 50vw
    if (i % 2) is 1
      transform: translate(100vw, -1 * angle)
      &:before
        border-color: transparent colors[i] colors[i] transparent
      &:after
        border-color: colors[i] transparent transparent colors[i]
    else
      transform: translate(-100vw, -1 *  angle)
      &:before
        border-color: transparent transparent colors[i] colors[i]
      &:after
        border-color: colors[i] colors[i] transparent transparent

.section.section--show
  transform: translate(0)
  .section__inner
    opacity: 1

.about
  display: flex
  &__image
    height: 10em
    border-radius: .2em
  &__info
    flex: 1
    margin: 0 1em

.contact
  &__list
    font-size: 1.3em
    padding: 0
    list-style: none
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
  &__link
      color: whitesmoke
      display: flex
      flex-direction: column
      margin: 1em
      text-align: center
      &:hover
        opacity: .7
        transition: .2s
  &__icon
    height: 5em
    width: 5em
    margin: 1em

.gototop
  position: relative;
  left: 2em;
  bottom: 2em;
  z-index: 2;
  font-size: 1.5em;